<div class="col-xs-12 panel panel-default">
  <div class="col-xs-12"><%= recipe.name %></div>
  <div class="col-xs-12"><%=  recipe.description %></div>
  <div class="col-xs-12"><%= recipe.ingredients.count %></div>
</div>