<div class="row">
  <div class="col-xs-12">
    <h1>Editing Recipe</h1>
  </div>
</div>


<%= render 'form',  action: "Update" %>


<div class="row">
  <p class="col-xs-12">
    <%= link_to 'Back', recipes_path , class: "btn btn-default btn-sm" %>
  </p>
</div>

