<div class="col-xs-12 panel panel-default">
  <div class="col-xs-12"><%= cookbook.title %></div>
  <div class="col-xs-12"><%=  cookbook.subtitle %></div>
  <div class="col-xs-12"><%= cookbook.chapters.count %></div>
</div>