<div class="contain-to-grid sticky">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name center">
      <h1><a href="#">Creative Cook</a></h1>
    </li>
  </ul>

</nav>
</div>